<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ recipe }}</title>
</head>
<body>
    id: {{ recipe.id }}<br>
    name: {{ recipe.name }}<br>
    recipe_item: {{ recipe.item }}<br>
    level: {{ recipe.level }}<br>
    type: {{ recipe.type }}<br>
    mp_cost: {{ recipe.mpCost }}<br>
    success_rate: {{ recipe.successRate }}<br>
    =========PRODUCTIONS===============<br>
    {% for production in recipe.recipeproduction_set.all %}
       <a href="{{ production.item.get_absolute_url }}">{{ production.item }}</a>: {{ production.count }}<br>
    {% endfor %}
    =========INGREDIENTS===============<br>
    {% for ingredient in recipe.recipeingredient_set.all %}
       <a href="{{ ingredient.item.get_absolute_url }}">{{ ingredient.item }}</a>: {{ ingredient.count }}<br>
    {% endfor %}

</body>
</html>