<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ recipe }}</title>
</head>
<body>
    id: {{ recipe.id }}<br>
    name: {{ recipe.name }}<br>
    recipe_item: {{ recipe.item }}<br>
    level: {{ recipe.level }}<br>
    type: {{ recipe.type }}<br>
    mpCost: {{ recipe.mpCost }}<br>
    successRate: {{ recipe.successRate }}<br>
    =========PRODUCTIONS===============<br>
    {% for production in recipe.recipeproduction_set.all %}
       {{ production.item }}: {{ production.count }}<br>
    {% endfor %}
    =========INGREDIENTS===============<br>
    {% for ingredient in recipe.recipeingredient_set.all %}
       {{ ingredient.item }}: {{ ingredient.count }}<br>
    {% endfor %}

</body>
</html>